[user]
    name = msyk
    email = kouno@msyk.works
[core]
    editor = nvim
    quotepath = false
    precomposeunicode = true
    attributesfile = ~/.gitattributes
    pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
    helper = osxkeychain
[color]
    ui = true
[diff "plist"]
    textconv = plutil -convert xml1 -o -
[alias]
    graph = log --graph --branches --date=format:'%y.%m.%d %a %H:%M:%S' --pretty='format:%cd %C(yellow)%h%C(cyan)%d %C(red)%s %Creset- %an %Creset'
    g = graph
    l = log --decorate --graph --branches --tags --remotes --name-status
    a = add .
    amend = commit -a --amend
    b = branch
    c = commit -am
    ch = checkout
    d = diff
    r = remote -v
    s = status
    ls = ls-files
    delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
    root = !cd `git rev-parse --show-toplevel`
    stash-all = stash save --include-untracked
    cached = diff --cached
[pull]
    ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
