[user]
	name = knmsyk 
	email = kounomasayuki@gmail.com
[core]
	editor = vim
	quotepath = false
	precomposeunicode = true
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
[include]
    	path = ~/.gitconfig_common
[credential]
	helper = osxkeychain
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff "plist"]
	textconv = plutil -convert xml1 -o -
