[user]
	name = knmsyk 
	email = kounomasayuki@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	quotepath = false
	precomposeunicode = true
[include]
    	path = ~/.gitconfig_common
[credential]
	helper = osxkeychain
